.vscode
spiced/*
machine-learning-flashcards.zip
data/*
_build/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
planning/.ipynb_checkpoints/*
planning/.~lock.curriculum_short.xlsx#
W10_reinforcement/__pycache__/*
quiz_extension/__pycache__/*
.pytest_cache/*
__pycache__/
test/__pycache__/*
tests/__pycache__/*
q.log
.DS_Store
*.ipynb_checkpoints
notebooks/models/*
notebooks/data/creditcard.csv
